# =========================
# BACKEND (Django & Python)
# =========================
backend/venv/
backend/__pycache__/
backend/**/*.pyc
backend/.env
*.sqlite3

# =========================
# FRONTEND (React & Node)
# =========================
Frontend/node_modules/
Frontend/dist/
Frontend/.env
Frontend/.env.local
Frontend/.env.*.local

# =========================
# SISTEMA Y EDITORES
# =========================
.DS_Store
.vscode/
.idea/
/Documentacion/